* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

body {
    font-family: 'Lora', 'Montserrat', sans-serif;
    background-color: #ffffff;
    color: #000000;
  }

nav {
    background-color:#C7B389;
    color:#4D4F44;
    font-family:'Lora', 'Montserrat', sans-serif;
    width: 100%;
    height: 70px;
}
.nav-menu{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 40px;
}

.logo img {
    height: 70px;
}

.nav-item-left {
    height: 70px;
    display: flex;
    align-items: center;
    margin: 0 40px;
}

.nav-right{
    display: flex;
    justify-content: flex-end;
    margin-left: 300px;
}

.nav-item-right {
    width: auto;
    height: 70px;
    display: flex;
    align-items: center;
    padding-left: 65px;
}

.heroimage{
    position: relative;
    width:100%;
}

.homepage-image{
    width:100%;
    height:730px;
    display: block;
}

.hero-text{
    position: absolute;
    top: 250px;
    left: 56%;
    text-align: center;
    color: white;
}

.hero{
    font-family:'Libertinus Serif Display','Lora',sans-serif;
    font-size: 25px;
    font-weight: 20;
}

.discover-button{
    background-color: rgba(255, 255, 255);
    border: solid rgba(255, 255, 255);
    border-radius: 100px;   
    color: #000000;
    padding: 10px 37px;
    font-family: 'Montserrat','Lora',sans-serif;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    margin-top: 50px;
}

.freeshipping{
    display: flex;
    background-color: #D4EAC8;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 70px;
    font-family:'Montserrat','Lora',sans-serif;
}


