* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

html{
    overflow-x: hidden;
}
body {
    font-family: 'Lora', 'Montserrat', sans-serif;
    background-color: #ffffff;
    color: #000000;
    overflow-x: hidden;
  }

/*nav*/
nav {
    background-color:#C7B389;
    color:#4D4F44;
    font-family:'Lora', 'Montserrat', sans-serif;
    width: 100%;
    height: 4.5rem;
}
.nav-menu{
    display: flex;
    list-style: none;
    align-items: center;
}

.logo img {
    height: 4.5rem;
}

.nav-item-left {
    height: 4.5rem;
    display: flex;
    align-items: center;
    margin-left: clamp(1rem, 5vw, 5rem);
}
/* drop down section */
.nav-item-left-shop{
    height: 4.5rem;
    display: flex;
    align-items: center;
    margin-left: clamp(1rem, 5vw, 5rem);
}

.shop-dropdown{
    position: relative;
}

.dropdown {
    position: absolute;
    display: none; 
    flex-direction: row;
    top: 95%; 
    left: 0;
    width: 37vw;
    background-color: #C7B389;
    padding: 20px 50px;
    gap: 5vw;
    margin-bottom: 5vh;
    z-index: 999; /*To prevent being covered by other elements, the larger the value, the less likely it is to be covered*/
}
.dropdown-column{
    display: flex;
    flex-direction: column;
}
.shop-dropdown.active .dropdown{
    display: flex; 
    cursor: pointer;
}
.dropdown-column-title{
    font-size: 1rem;
    font-weight: 100;
}
.dropdown-column-ul{
    margin-bottom: 5vh;
}
.dropdown-column-li {
    font-size: 0.7rem;
    list-style: disc;
    padding-top: 5px;
    margin-left: 1rem;
}

.nav-right{
    display: flex;
    justify-content: flex-end;
    margin-left: clamp(0.5rem, 39vw, 45rem);
}

.nav-item-right {
    width: auto;
    height: 4.5rem;
    display: flex;
    align-items: center;
    padding-left: 65px;
}

/*homepage image and discover*/
.heroimage{
    position: relative;
    width:100%;
}

.homepage-image{
    width:100%;
    height:730px;
    display: block;
}

.hero-text{
    position: absolute;
    top: 250px;
    left: 56%;
    text-align: center;
    color: white;
}

.hero{
    font-family:'Libertinus Serif Display','Lora',sans-serif;
    font-size: 25px;
    font-weight: 20;
}

.discover-button{
    background-color: rgba(255, 255, 255);
    border: solid rgba(255, 255, 255);
    border-radius: 100px;   
    color: #000000;
    padding: 10px 37px;
    font-family: 'Montserrat','Lora',sans-serif;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    margin-top: 50px;
}

/*freeshipping section*/
.freeshipping{
    display: flex;
    background-color: #D4EAC8;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 70px;
    font-family:'Montserrat','Lora',sans-serif;
    font-size: 15px;
    font-weight: 300;
}

/*best sellers section*/
.bestsellers{
    display: block;
    background-color: #ffffff;
    width: 100%;
    min-height: 600px;
    height: auto;
}

.bestsellers-text{
    padding: 40px 60px;
    font-weight: 200;
    font-size: 30px;
}

.bestsellers-cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.productcard-bestsellers{
    display: flex;
    flex-direction: column;
    margin: 10px 100px;
    width: 400px;
    height: 400px;
    background-color: #C7B389;
    border-radius: 10px;
}

.product-cards-image{
    border-radius: 10px 10px 0 0;
}
.product-cards-text{
    padding: 10px 20px;
}

.product-cards-textandrating{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.product-cards-title{
    font-family: 'Lora', 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 20px;
}

.product-cards-rating{
    font-family: 'Lora', 'Montserrat', sans-serif;
    font-weight: 50;
    font-size: 15px;
}

.product-cards-info{
    font-family: 'Montserrat','Lora',sans-serif;
    font-weight: 350;
    font-size: 14px;
    padding: 10px 0 15px 0;
}

.product-cards-prices{
    font-family: 'Lora', 'Montserrat', sans-serif;
    font-weight: 50;
    font-size: 25px;
}

/*featured collections scetion*/
.featured-collections{
    background-color: #F8E5E5;
    width: 100%;
    height: 600px;
}

.featured-title{
    padding: 40px 40px 20px 60px;
    font-weight: 200;
    font-size: 30px;
}

.collection-allcards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.collectioncards{
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 170px;
    margin: 20px 100px 50px 100px;
    border-radius: 10px;
    background-color: #C7B389;
}

.collection-cards-image{
    width: 60%;
    height: 170px;
    border-radius: 10px 0 0 10px;
}

.collection-cards-text{
    font-size: 20px;
    font-weight: 50;
    padding: 70px 70px 50px 90px;
}

/*about us section*/
.aboutus{
    display: block;
    background-color: #ffffff;
    width: 100%;
    height: 650px;
}

.aboutus-allcards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.aboutuscards{
    width: 600px;
    height: 400px;
    margin: 0 20px;
}

.aboutus-title{
    padding: 40px 40px 20px 0;
    font-weight: 200;
    font-size: 30px;
}

.aboutus-cards-allinfo{
    display: flex;
    flex-direction: row;
}
.aboutus-image{
    width: 400px;
    height: 500px;
    border-radius: 10px;
}
.aboutus-text{
    font-family: 'Montserrat','Lora',sans-serif;
    font-weight: 350;
    font-size: 15px;
    padding: 0 20px 0 20px;
}

.aboutus-textandreadmore{
    display: flex;
    flex-direction: column;
}
.read-more{
    font-family: 'Montserrat','Lora',sans-serif;
    font-weight: 500;
    font-size: 15px;
    padding: 35px 20px 0 20px;
}

/* footer */
footer{
    display: flex;
    flex-direction: row;
    background-color: #C7B389;
    width: 100%;
    height: clamp(30rem, 50vh, 40rem);
}

.footer-sections{
    display: flex;
    flex-direction: row;
    padding: 40px 20px 20px 40px;  
}

.footer-title{
    font-weight: 350;
    font-size: 20px;
    font-family: 'Montserrat','Lora',sans-serif;
}

.footer-unordered-list{
    list-style: none;
    padding: 20px 0;
    font-family: 'Montserrat','Lora',sans-serif;
    font-weight: 325;
    font-size: 15px;
}

.footer-list{
    padding: 2px 0;
}

.footer-copyrights{
    font-size: 10px;
    padding-top: 7vh;
    font-family: 'Montserrat','Lora',sans-serif;
}

.subscribe-section{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0 0 0;
    margin-left: 500px;
}

.footer-title-subscribeus{
    font-weight: 350;
    font-size: 20px;
    font-family: 'Montserrat','Lora',sans-serif;
    padding-bottom: 20px;
}

.subscribe{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.subscribe-input{
    width: 350px;
    height: 40px;
    padding: 8px 10px;
    font-family: 'Montserrat','Lora',sans-serif;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.subscribe-button{
    width: 220px;
    height: 40px;
    font-family: 'Montserrat','Lora',sans-serif;
    font-size: 14px;
    background-color: #3D2E22;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/*product lists page*/

/*filters*/
.filters{
    display: flex;
    display: row;
    width: 100%;
    height: 50px;
    background-color: #ffffff;
    color: #000000;
    font-family: 'Lora', 'Montserrat', sans-serif;
    font-weight: 100;
}

/*filter-quantity*/
.filter-quantity{
    display: flex;
    align-items: center;
    padding-left: 20px;
    width: 25%;
    border-right: 1px solid #D4EAC8;
    border-bottom: 1px solid #D4EAC8;
}


/*filter-price*/
.filter-price{
    display: flex;
    align-items: center;
    gap: 130px;
    padding-left: 20px;
    width: 25%;
    border-left: 1px solid #D4EAC8;
    border-right: 1px solid #D4EAC8;
    border-bottom: 1px solid #D4EAC8;
}
.filter-price-inputs{
    display: flex;
    align-items: center;
    gap: 10px;
}
.filter-price-number{
    width: 50px;
    height: 20px;
    text-align: center;
    border: none;
    outline: none;
    cursor: text;
    font-family: 'Lora', 'Montserrat', sans-serif;
    font-size: 15px;
}
.filter-price-number::-webkit-outer-spin-button,
.filter-price-number::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
.filter-price-number[type=number]{
    -moz-appearance: textfield;
}


/*filter-sortby*/
.filter-sortby{
    position: relative;
    display: flex;
    align-items: center;
    width: 25%;
    border-left: 1px solid #D4EAC8;
    border-right: 1px solid #D4EAC8;
    border-bottom: 1px solid #D4EAC8;
    background-color: #ffffff;
}
.filter-sortby-title{
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.filter-sortby-right{
    display: flex;
    align-items: center;
    gap: 150px;
}
.filter-featured-text{
    padding-right: 10px;
}
.filter-arrow{
    display: inline-block;
    transition: transform 0.3s ease;
} /* displayed normally, smooth animation when rotated*/
.filter-sortby.active .filter-arrow{
    transform: rotate(180deg);
}
.filter-sortby.active{
    background-color: #C7B389;
}
.sortby-dropdown {
    position: absolute;
    top: 100%; /* where does it start from the parent element */
    left: 0;
    width: 100%; /*compared to the parent element of relative*/
    background-color: #C7B389;
    display: none;
    z-index: 999; /*To prevent being covered by other elements, the larger the value, the less likely it is to be covered*/
    border-top: 1px solid #D4EAC8;
}
.filter-sortby.active .sortby-dropdown {
   display: block;
   padding: 20px 0 20px 50px;
   cursor: pointer;
}
.filter-sortby.active .filter-sortby-li{
    margin-bottom: 5px;
    font-size: 15px;
}

/*filters-collection*/
.filter-collection{
    position: relative;
    display: flex;
    align-items: center;
    width: 25%;
    border-left: 1px solid #D4EAC8;
    border-right: 1px solid #D4EAC8;
    border-bottom: 1px solid #D4EAC8;
    background-color: #ffffff;
}
.filter-collection-title{
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-left: 20px;
    gap: 180px;
}

.filter-collection.active .filter-arrow{
    transform: rotate(180deg);
}
.filter-collection.active{
    background-color: #C7B389;
}
.filter-collection-dropdown {
    position: absolute;
    top: 100%; /* where does it start from the parent element */
    left: 0;
    width: 100%; /*compared to the parent element of relative*/
    background-color: #C7B389;
    display: none;
    z-index: 999; /*To prevent being covered by other elements, the larger the value, the less likely it is to be covered*/
    border-top: 1px solid #D4EAC8;
}
.filter-collection.active .filter-collection-dropdown {
   display: block;
   padding: 20px 0 20px 50px;
   cursor: pointer;
}
.filter-collection.active .filter-collection-li{
    margin-bottom: 5px;
    font-size: 15px;
}

/*breadcrumb*/
.breadcrumbs-menu-unoderedlists{
    list-style: none;
    padding-left: 20px;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.breadcrumbs-a,
.breadcrumbs-a:hover,
.breadcrumbs-a:visited{
    text-decoration: none;
    color: #4D4F44;
}

/*product list card*/
.productlists-allcards{
    display: flex;
    flex-direction: column;

}
.productlists-onerow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.productlists-card{
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    width: 300px;
    height: 370px;
    background-color: #D4EAC8;
    border-radius: 10px;
    text-decoration: none;
    color: #000000;
}

.productlists-card-image{
    border-radius: 10px 10px 0 0;
}

.productlists-text{
    padding: 10px 20px;
}

.productlists-card-textandrating{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.productlists-card-title{
    font-family: 'Lora', 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 20px;
}

.productlists-card-rating{
    font-family: 'Lora', 'Montserrat', sans-serif;
    font-weight: 50;
    font-size: 15px;
}

.productlists-card-info{
    font-family: 'Montserrat','Lora',sans-serif;
    font-weight: 350;
    font-size: 14px;
    padding: 10px 0 10px 0;
}

.productlists-card-prices{
    font-family: 'Lora', 'Montserrat', sans-serif;
    font-weight: 50;
    font-size: 20px;
}



/*product page*/
.product-information-layout{
    display: flex;
    flex-direction: row;
}
.product-image-section{
    display: flex;
    flex-direction: column;
    margin-top: clamp(1rem, 3vh,10rem);
    margin-left: clamp(1.5rem, 7vw,10rem);
    margin-bottom: clamp(1.5rem, 3vh,10rem);
}
.product-image{
    border-radius: 10px 10px 0 0;
    width: clamp(10rem, 40vw, 60rem);
}
.product-image-bottom{
    border-radius: 0 0 10px 10px;
    width: clamp(10rem, 40vw, 60rem);
}

.product-detailed-information{
    display: flex;
    flex-direction: column;
    margin-top: clamp(1rem, 3vh,10rem);
    margin-left: clamp(1.5rem, 5vw,10rem);
    margin-bottom: clamp(1.5rem, 3vh,10rem);
}
.textinfo-title{
    font-size: clamp(0.625rem, 5vw, 2.8rem); 
    padding-bottom: clamp(2rem, 5vh, 3.7rem);
    font-weight: 100;
}
.textinfo-p{
    font-size: clamp(0.5rem, 1.5vw, 1.5rem);
    font-weight: 100;
}
.textinfo-fragrance-section{
    margin-top: clamp(1rem, 10vh, 2.8rem);
}
.textinfo-fragrance-title{
    font-size: clamp(0.5rem, 2vw, 5rem);
    padding-bottom: clamp(1rem, 1.5vh, 2rem);
    font-weight: 300;
}
.textinfo-p-kg{
    font-size: clamp(0.5rem, 1.5vw, 1.5rem);
    font-weight: 100;
    margin:clamp(1rem, 10vh, 2.8rem) 0;
}

/* product page description dropdown section*/
.product-description{
    display: flex;
    flex-direction: column;
    width: clamp(10rem, 45vw, 36rem);
    background-color: #D4EAC8;
    margin-bottom: clamp(1rem, 6vh, 4rem);
}

.product-description-one,.product-description-two,.product-description-three{
    display: flex;
    flex-direction: column;
}
.product-description-trigger,.product-description-trigger-two,.product-description-trigger-three{
    height: clamp(1rem, 6vh, 4rem);
    border-bottom:0.5px solid #000000;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-left: clamp(0.1rem, 2vw, 2rem);
}
.product-description-title, .product-description-title-two, .product-description-title-three{
    font-size: clamp(0.5rem, 1.5vw, 1.5rem) ;
    font-weight: 100;
}
.product-description-dropdown-section, .product-description-dropdown-section-two, .product-description-dropdown-section-three{
    display: none;
    width: 100%;
    background-color: #D4EAC8;
}
.product-description-one.active .product-description-dropdown-section,
.product-description-two.active .product-description-dropdown-section-two,
.product-description-three.active .product-description-dropdown-section-three{
    cursor: pointer;
    display: block;
    padding: clamp(0.8rem, 2vh, 1.5rem) clamp(0.1rem, 4vw, 3.6rem);
    border-bottom: 0.5px solid #000000;
}
.product-description-dropdown, 
.product-description-dropdown-two,
.product-description-dropdown-three{
    font-size: clamp(0.5rem, 1vw, 1rem);
    font-family: 'Montserrat','Lora',sans-serif;
    line-height: 1.4;
}

.add-to-cart{
    width: clamp(7rem, 30vw, 30rem);

    height: clamp(2.5rem, 6vh, 4rem);

    display: flex;

    justify-content: center;

    align-items: center;

    padding: 0;

    margin: 0;

    border: none;

    box-sizing: border-box;

    flex-shrink: 0;
}
.check-out{
    width: clamp(7rem, 30vw, 30rem);

    height: clamp(2.5rem, 6vh, 4rem);

    display: flex;

    justify-content: center;

    align-items: center;

    padding: 0;

    margin: 0;

    border: none;

    box-sizing: border-box;

    flex-shrink: 0;
}























@media (max-width: 390px) {
    html{
        overflow-x: hidden;
    }
    body{
        overflow-x: hidden;
    }

}
















